@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-sans);

  --background: #ffffff;
  --foreground: #171717;
  --primary-100: #fcf7ff;
  --primary-200: #8576ff;
  --primary-300: #484554;
  --primary-400: #ada9bb;
  --primary-500: #f1f5f9;
  --primary-600: #383544;

  --sidebar: #fff;
  --sidebar-border: var(--grey-100);

  --grey-100: #f1f5f9;
  --grey-200: #64748b;
  --grey-300: #334155;
  --grey-400: #f2f2f7;
  --grey-500: #141414;
  --grey-600: #e2e8f0;
  --grey-700: #f5f5f5;
  --grey-800: #f2f2f7;
  --grey-900: #000;

  --red-100: #f43f5e;

  --green-50: #d1fae5;
  --green-100: #10b981;

  --blue-50: #dbeafe;
  --blue-100: #93c5fd;
  --blue-200: #2563eb;
  --blue-300: #3b82f6;

  --border-blue: transparent;

  --border-green: transparent;
}

.dark {
  --background: #383544;
  --foreground: #ededed;

  --grey-200: #fff;
  --grey-100: #6a6676;
  --grey-300: #fff;
  --grey-900: #fff;
  --grey-800: #514e5d;
  --grey-400: #484554;
  --grey-700: #484554;

  --sidebar: #484554;
  --sidebar-border: #484554;

  --primary-100: #ada9bb;
  --primary-500: #6a6676;

  --border-blue: var(--blue-300);
  --border-green: var(--green-100);

  --green-50: transparent;

  --blue-50: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  h1 {
    @apply text-[1.7rem] leading-3 md:text-xl;
  }

  h2 {
    @apply text-lg leading-6;
  }

  h3 {
    @apply text-md leading-2;
  }
  h4 {
    @apply text-base leading-4;
  }
}
